*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/workspace.xml
.gradle/
.idea/
app/build/
app/src/androidTest/
build/
gradle.properties
gradlew
gradlew.bat
local.properties
app.iml
#settings.gradle
