<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yonyoucloud.glidedemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
     

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <application
        android:name="com.yonyoucloud.glidedemo.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.yonyoucloud.glidedemo.activity.MainActivity">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.yonyoucloud.glidedemo.util.CustomCachingGlideModule"
            android:value="GlideModule" />

        <activity
            android:name="com.yonyoucloud.glidedemo.activity.ImageRecycleActivity"
            android:label="列表页面" />
        <!--
            台式机：ebb7c02e3507f3a1b130b9c852f73352
            苹果电脑：4db5594d60c338ec4e669b6e7368f20d
        -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ebb7c02e3507f3a1b130b9c852f73352" />

        <activity android:name="com.yonyoucloud.AMap.activity.ShowMapActivity">
        </activity>
        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService" >
        </service>
    </application>

</manifest>